a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_294a0ae8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:11px; background-color:rgba(0, 0, 0, 0.8);  }
#container_294a0ae8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:13pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_7446523 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:4375px; max-width:700px; background:none;  }
#container_7446523_padding { margin: 30px; display: block;  }
#container_23a4c632 { vertical-align: top; position:relative; display: inline-block; width:103%; min-height:301px; background:none;  }
#container_23a4c632_padding { margin: 10px; display: block;  }
#text_2b8ad0d3 { position:absolute; left:2%; top:72%; width:596px; height:88px; background:none;  }
.textstyle4 { font-size:28pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; line-height: 1.5;  }
#img_2238b7f8 { position:absolute; left:34%; top:2%; width:30%; background:none; height:auto;  }
.textstyle5 { font-size:16pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
.textstyle6 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; line-height: 1.5;  }
#container_60fd7768 { vertical-align: top; position:relative; display: inline-block; width:104%; min-height:814px; background:none;  }
#container_60fd7768_padding { margin: 10px; display: block;  }
#container_51dd1a2f { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background:none;  }
#container_51dd1a2f_padding { margin: 10px; display: block;  }
#img_9954efc { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_768882c7 { vertical-align: top; position:relative; display: inline-block; width:71%; min-height:150px; background:none;  }
#container_768882c7_padding { margin: 10px; display: block;  }
.textstyle7 { text-align:justify; }
.textstyle8 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_105956d6 { vertical-align: top; position:relative; display: inline-block; width:104%; min-height:1035px; background:none;  }
#container_105956d6_padding { margin: 10px; display: block;  }
#container_7d48d734 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:156px; background:none;  }
#container_7d48d734_padding { margin: 10px; display: block;  }
#img_2999867e { vertical-align: bottom; position:relative; display: inline-block; width:93%; background:none; height:auto;  }
#container_74cc30ce { vertical-align: top; position:relative; display: inline-block; width:71%; min-height:1015px; background:none;  }
#container_74cc30ce_padding { margin: 10px; display: block;  }
#container_38d296dd { vertical-align: top; position:relative; display: inline-block; width:104%; min-height:1401px; background:none;  }
#container_38d296dd_padding { margin: 10px; display: block;  }
#container_5ed68884 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:157px; background:none;  }
#container_5ed68884_padding { margin: 10px; display: block;  }
#img_55cd82bf { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_594abb12 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:1380px; background:none;  }
#container_594abb12_padding { margin: 10px; display: block;  }
#container_2218d2b4 { vertical-align: top; position:relative; display: inline-block; width:104%; min-height:715px; background:none;  }
#container_2218d2b4_padding { margin: 10px; display: block;  }
#container_4d2e226d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:155px; background:none;  }
#container_4d2e226d_padding { margin: 10px; display: block;  }
#img_4473df6d { vertical-align: bottom; position:relative; display: inline-block; width:92%; background:none; height:auto;  }
#container_3b1b42fa { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:138px; background:none;  }
#container_3b1b42fa_padding { margin: 10px; display: block;  }
#container_323ebc9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#C0C0C0;  }
#container_323ebc9_padding { margin: 10px; display: block;  }
.textstyle10 { text-align:right; }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#1D1D1D;  }
