a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_153d0912 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:11px; background-color:rgba(0, 0, 0, 0.8);  }
#container_153d0912_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:13pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_4b58d6fd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:700px; background:none;  }
#container_4b58d6fd_padding { margin: 30px; display: block;  }
#container_25b8112d { vertical-align: top; position:relative; display: inline-block; width:103%; min-height:301px; background:none;  }
#container_25b8112d_padding { margin: 10px; display: block;  }
#text_e37b403 { position:absolute; left:2%; top:72%; width:596px; height:88px; background:none;  }
.textstyle4 { font-size:28pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; line-height: 1.5;  }
#img_31fc9f08 { position:absolute; left:34%; top:2%; width:30%; background:none; height:auto;  }
.textstyle5 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; line-height: 1.5;  }
#container_46078edb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:518px; background:none;  }
#container_46078edb_padding { margin: 10px; display: block;  }
#img_751b4f71 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
.textstyle6 { font-size:26pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_77609974 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_77609974_padding { margin: 10px; display: block;  }
#img_799ce7c0 { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_343b5305 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_343b5305_padding { margin: 10px; display: block;  }
#img_2ac74046 { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_42abcd13 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_42abcd13_padding { margin: 10px; display: block;  }
#img_6485017a { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_44cd065 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_44cd065_padding { margin: 10px; display: block;  }
#img_1e37c9d { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
.textstyle7 { font-size:28pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_1a386bfe { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1a386bfe_padding { margin: 10px; display: block;  }
#img_73996d52 { vertical-align: bottom; position:relative; display: inline-block; width:76%; background:none; height:auto;  }
.textstyle8 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_3cab291b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3cab291b_padding { margin: 10px; display: block;  }
#img_60406e4d { vertical-align: bottom; position:relative; display: inline-block; width:69%; background:none; height:auto;  }
.textstyle9 { text-align:justify; }
#container_76fab2ac { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_76fab2ac_padding { margin: 10px; display: block;  }
#img_732dc916 { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_76a77c69 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_76a77c69_padding { margin: 10px; display: block;  }
#img_45a28d37 { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_11dc96e6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_11dc96e6_padding { margin: 10px; display: block;  }
#img_4568ff1d { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_6dbc64e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6dbc64e9_padding { margin: 10px; display: block;  }
#img_396dd041 { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_5e5c8731 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:81px; background:none;  }
#container_5e5c8731_padding { margin: 10px; display: block;  }
#img_4c462633 { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_c131272 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:271px; background:none;  }
#container_c131272_padding { margin: 10px; display: block;  }
#img_31046ccd { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
.textstyle10 { font-size:11pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_19f446e8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:26px; background-color:#C0C0C0;  }
#container_19f446e8_padding { margin: 10px; display: block;  }
.textstyle11 { text-align:right; }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#1D1D1D;  }
