a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1f8f6b6c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:11px; background-color:rgba(0, 0, 0, 0.8);  }
#container_1f8f6b6c_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:13pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_67367245 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:714px; max-width:700px; background:none;  }
#container_67367245_padding { margin: 30px; display: block;  }
#container_7ae82997 { vertical-align: top; position:relative; display: inline-block; width:103%; min-height:301px; background:none;  }
#container_7ae82997_padding { margin: 10px; display: block;  }
#text_6f87498c { position:absolute; left:2%; top:72%; width:596px; height:88px; background:none;  }
.textstyle4 { font-size:28pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; line-height: 1.5;  }
#img_4b21ac47 { position:absolute; left:34%; top:2%; width:30%; background:none; height:auto;  }
.textstyle5 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; line-height: 1.5;  }
#container_3b42e9dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:108px; background:none;  }
#container_3b42e9dd_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:justify; }
#container_4864e083 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:101px; background:none;  }
#container_4864e083_padding { margin: 10px; display: block;  }
#container_430e4792 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:122px; background:none;  }
#container_430e4792_padding { margin: 10px; display: block;  }
#container_9038ba { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:36px; background-color:#C0C0C0;  }
#container_9038ba_padding { margin: 10px; display: block;  }
.textstyle7 { text-align:right; }
.textstyle8 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#1D1D1D;  }
